body {
    font-family: Arial, sans-serif;
    width: 300px;
    margin: 0;
    padding: 10px;
}

#login-view, #main-view {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.user-info {
    display: flex;
    align-items: center;
}

#trophy-count {
    margin-right: 10px;
}

.calendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

#week-view {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0 10px;
}

.day {
    text-align: center;
    font-size: 12px;
}

.day.current {
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.exercises {
    margin-top: 20px;
}

.exercises ul {
    list-style-type: none;
    padding: 0;
}

.exercises li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

#prev-week, #next-week {
    width: auto;
    padding: 5px 10px;
}